.task-container{
    display: flex;
    align-items: center;
}

.text-task{
    font-size: 18px;
    color: black;
    margin-left: 8px;

}

.done-text{
    color: rgba(0, 0, 0, 0.3);
    text-decoration: line-through;
}

img{
    margin: 8px;
}